@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');


// CSS VARIABLES
$primary: #00a796;
$primary-dark: #026158;
$dark: #1f2732;
$dark-light: #2a343f;
$white: #fff;

body{
    font-family: "Source Sans Pro", sans-serif;
    padding: 0;
    margin: 0;
    background: $dark;
    color: $white;
}

*, *:before, *:after {
    box-sizing: border-box;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

button, input, textarea {
    font-family: "Source Sans Pro", sans-serif;
}

.main-header {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        a {
            color: white;
            font-weight: 700;
            font-size: 2rem;
            text-decoration: none;
            transition: all 0.3s ease;

            &:hover {
                opacity: 0.7;
            }

        }
    }
}

.btn {
    display: inline-block;
    background-color: $primary;
    padding: 10px 20px;
    border: none;
    color: $white;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.2s ease;

    &:hover {
        background-color: $primary-dark;
        cursor: pointer;
    }
}
